[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ujson = "*"
pydantic = {extras = ["ujson"],version = "*"}
pynamodb = "*"
boto3 = "*"

[requires]
python_version = "3.8"
